<%= form_for(result) do |f| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row">
  <div class="col-sm-4">


  <div class="field">
    <%= f.label :user %>
    <%= select(:user_id, @users)%>    
  </div>

  <div class="field">
    <%= f.label :event %>
    <%= select(:event_id, @events)%>    
  </div>


  <div class="field">
    <%= f.label :score %>
    <%= f.number_field :score, :class => 'text_field', :step => 0.5 %>
  </div>

  <div class="field">
    <%= f.label :win %>
    <%= select(:win_id, @win%>    
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</div>



</div>

<% end %>

