<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @result.score %>
</p>

<p>
  <strong>Win loose tie:</strong>
  <%= @result.win_loose_tie %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
